DROP POLICY IF EXISTS \
msg_select\ ON public.messages;
CREATE POLICY \
msg_select_direct\ ON public.messages FOR SELECT USING (auth.uid() = sender_id OR auth.uid() = recipient_id OR EXISTS (SELECT 1 FROM public.conversation_participants WHERE conversation_id = messages.conversation_id AND user_id = auth.uid()));
